<h3> Turnos para el paciente <strong> {{this.paciente.nombre}} {{this.paciente.apellido}}</strong>.</h3>
<div class="tabla">
    <div class="tabla-scroll">
        <table class="table table table-striped">
            <thead>
                <tr>
                    <th>Medico</th>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th>Estado</th>
                    <th>Cancelar</th>
                    <th>Reseña</th>
                    <th>Completar Encuesta</th>
                    <th>Calificar Atencion</th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let turno of turnosDisponibles">
                    <td>{{ turno.especialistas.nombre}} {{ turno.especialistas.apellido}}</td>
                    <td>{{ turno.especialidad }}</td>
                    <td>{{ turno.fecha_turno }}</td>
                    <td>{{ turno.horario_turno }}</td>
                    <td>{{ turno.estado }}</td>

                    @if(turno.estado == "Cancelado") {
                    <td >Ya cancelado</td>
                    }
                    @else if (turno.estado == "Pendiente" || turno.estado == "Aceptado") {
                    <td>
                        <button class="btn btn-lg btn-danger bi bi-x-circle" (click)="cancelarTurno(turno)"></button>
                    </td>
                    }
                    @else {
                    <td>No disponible</td>
                    }

                    @if (turno.resenia) {
                    <td>
                        <button class="btn btn-lg btn-primary bi bi-book" (click)="leerResenia(turno)"></button>
                    </td>
                    }
                    @else {
                    <td >No disponible</td>
                    }

                    @if(turno.encuesta)
                    {
                    <td >Ya completada</td>
                    }
                    @else if (turno.estado == "Finalizado" && turno.resenia) {
                    <td>
                        <button class="btn btn-lg btn-primary bi bi-bookmark-check" (click)="completarEncuesta(turno)"></button>
                    </td>
                    }
                    @else {
                    <td >No disponible</td>
                    }

                    @if(turno.calificacion)
                    {
                    <td >Ya calificado</td>
                    }
                    @else if (turno.estado == "Finalizado") {
                    <td >
                        <button class="btn btn-lg btn-success bi bi-building-fill-up" (click)="calificarAtencion(turno)"></button>
                    </td>
                    }
                    @else {
                    <td >No disponible</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>