.img-doctor{
    background-color: rgb(181, 165, 21);
    /* background-image: url("./medicoDos.jpg");
    width: 50vh;
    height: auto;
    background-position: top left;
    object-fit: scale-down;
    background-repeat: no-repeat; */
}

.img-admin{
    background-color: rgb(91, 62, 240);

}

.img-paciente{
    background-color: rgb(42, 179, 8);

}