/* .boton-img {
    width: 10rem; 
    height: 10rem; 
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
/* 
.boton-img:hover {
    transform: scale(1.1);
    transition: transform 300ms ease;
}  */