.slide-in {
  animation: slideIn 0.4s ease forwards;
  opacity: 1;
  pointer-events: auto;
}

.slide-out {
  animation: slideOut 0.4s ease forwards;
  opacity: 0;
  pointer-events: none;
}

@keyframes slideIn {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(30px);
    opacity: 0;
  }
}