<p>Mis turnos (Especialista)</p>
<div class="container mt-3 text-center">
    <table class="table table table-striped">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Especialidad</th>
                <th>Estado</th>
                <th>Finalizar</th>
                <th>Ver Reseña</th>
                <th>Aceptar</th>
                <th>Rechazar</th>
                <th>Cancelar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turno  of turnosDisponibles">
                <td> {{turno.pacientes.nombre}} {{turno.pacientes.apellido}}</td>
                <td>{{ turno.fecha_turno }}</td>
                <td>{{ turno.horario_turno }}</td>
                <td>{{ turno.especialidad }}</td>
                <td>{{ turno.estado }}</td>

                <!-- finalizar -->
                @if (turno.estado == "Aceptado") {
                <td>
                    <button class="btn btn-lg btn-success bi bi-clipboard-heart" (click)="finalizarTurno(turno)"></button>
                </td>
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }

                <!-- resenia -->
                @if (turno.resenia) {
                <td class="cancel-icon-cell">
                    <button class="btn btn-lg btn-info bi bi-clipboard2-pulse" (click)="leerResenia(turno)"></button>
                </td>
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }

                <!-- aceptar -->
                @if (turno.estado != "Finalizado" && turno.estado != 'Cancelado' && turno.estado != "Rechazado" &&
                turno.estado != "Aceptado") {
                <td>
                    <button class="btn btn-lg btn-success bi bi-check2-circle" (click)="aceptarTurno(turno)"></button>
                </td>
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }

                <!-- rechazar -->
                @if(turno.estado == "Rechazado") {
                <td class="inhabilitado">Ya rechazado</td>
                }
                @else if (turno.estado != "Aceptado" && turno.estado != 'Finalizado' && turno.estado != "Cancelado")
                {
                <td>
                    <button class="btn btn-lg btn-warning bi bi-dash-circle" (click)="rechazarTurno(turno)"></button>
                </td>
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }

                <!-- cancelar -->
                @if(turno.estado == "Cancelado") {
                <td class="inhabilitado">Ya cancelado</td>
                }
                @else if (turno.estado == "Pendiente" || turno.estado == "Aceptado") {
                <td>
                    <button class="btn btn-lg btn-danger bi bi-x-circle" (click)="cancelarTurno(turno)"></button>
                </td>
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }


            </tr>
        </tbody>
    </table>
</div>