<app-titulo [tituloInput]="'Mis turnos (Especialista)'"></app-titulo>
<div *ngIf="banderaHistorial">
    <div class="d-flex justify-content-end">
        <button class="btn btn-danger" (click)="cerrarHC()">Cerrar</button>
    </div>
    <app-historial-medico [turnoInput]="turnoHistoriaClinica" [puedeEditarInput]="true" (modificarHCEvent)="modificarHC($event)"></app-historial-medico>
</div>
<div class="container-fluid mt-3 text-center">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Especialidad</th>
                <th>Estado</th>
                <th>Finalizar</th>
                <th>Ver Reseña</th>
                <th>Aceptar</th>
                <th>Rechazar</th>
                <th>Cancelar</th>
                <th>Historia Clinica</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turno  of turnosDisponibles">
                <td> {{turno.pacientes.nombre}} {{turno.pacientes.apellido}}</td>
                <td>{{ turno.fecha_turno }}</td>
                <td>{{ turno.horario_turno }}</td>
                <td>{{ turno.especialidad }}</td>
                <td>{{ turno.estado }}</td>

                <!-- finalizar -->
                @if (turno.estado == "Aceptado") {
                <td>
                    <button class="btn btn-lg btn-success bi bi-clipboard-heart"
                        (click)="finalizarTurno(turno)"></button>
                </td>
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }

                <!-- resenia -->
                @if (turno.resenia) {
                <td class="cancel-icon-cell">
                    <button class="btn btn-lg btn-info bi bi-clipboard2-pulse" (click)="leerResenia(turno)"></button>
                </td>
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }

                <!-- aceptar -->
                @if (turno.estado != "Finalizado" && turno.estado != 'Cancelado' && turno.estado != "Rechazado" &&
                turno.estado != "Aceptado") {
                <td>
                    <button class="btn btn-lg btn-success bi bi-check2-circle" (click)="aceptarTurno(turno)"></button>
                </td>
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }

                <!-- rechazar -->
                @if(turno.estado == "Rechazado") {
                <td class="inhabilitado">Ya rechazado</td>
                }
                @else if (turno.estado != "Aceptado" && turno.estado != 'Finalizado' && turno.estado != "Cancelado")
                {
                <td>
                    <button class="btn btn-lg btn-warning bi bi-dash-circle" (click)="rechazarTurno(turno)"></button>
                </td>
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }

                <!-- cancelar -->
                @if(turno.estado == "Cancelado") {
                <td class="inhabilitado">Ya cancelado</td>
                }
                @else if (turno.estado == "Pendiente" || turno.estado == "Aceptado") {
                <td>
                    <button class="btn btn-lg btn-danger bi bi-x-circle" (click)="cancelarTurno(turno)"></button>
                </td>
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }

                <!-- historia clinica -->
                @if (turno.estado == "Finalizado") {

                @if(!turno.altura)
                {
                <td>
                    <div (click)="verHistoriaClinica(turno)">
                        <button class="btn btn-info">
                            Completar
                        </button>
                    </div>
                </td>
                }
                @else
                {
                <td>
                    <div class="verde" (click)="verHistoriaClinica(turno)">
                        <button class="btn btn-info">
                            Editar
                        </button>
                    </div>
                </td>
                }
                }
                @else {
                <td class="inhabilitado">No disponible</td>
                }
            </tr>
        </tbody>
    </table>
</div>
<!-- <button (click)="customC()">custom</button> -->

<!-- <div class="d-flex flex-row justify-content-center">
    <div class="text-center p-2">
        <p><strong><u>Altura: </u></strong></p>
        <p><input id="input-altura" class="swal2-input border border-dark" placeholder="Altura"></p>
        <p><strong><u>Peso: </u></strong></p>
        <p><input id="input-peso" class="swal2-input border border-dark" placeholder="Peso"></p>
        <p><strong><u>Temperatura: </u></strong></p>
        <p><input id="input-temperatura" class="swal2-input border border-dark" placeholder="Temperatura"></p>
        <p><strong><u>Presión: </u></strong></p>
        <p><input id="input-presion" class="swal2-input border border-dark" placeholder="Presión"></p>
    </div>
    <div class="text-center p-2">
        <div *ngFor="let dato of turnosDisponibles[3].datosDinamicos; let i = index" class="par">
                    <label for="nuevo">Nuevo dato {{i+1}}</label>
                    <input type="text" name="clave{{i}}" placeholder="Clave"  required>
                    <input type="text" name="valor{{i}}" placeholder="Valor"  required>
                </div>

                <button type="button" (click)="agregarDatoDinamico()"
                    >Agregar dato</button>
                <button type="submit">Guardar</button>
    </div>
</div> -->