<nav class="navbar navbar-expand-sm navbar-secondary bg-light sticky-top border-bottom border-5 border-success-subtle">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="javascript:void(0)">CLINICA ONLINE</a> -->
    <a routerLink="/home">
      <img class="ms-1" src="logo.jpg" alt="clinica online" style="max-height: 9vh; min-height: 9vh">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav ms-auto gap-1 text-uppercase d-flex justify-content-center gap-2 fw-bold">
        <!-- <li class="nav-item">
          <a routerLink="/mi-perfil" class="btn btn-outline-primary">Mi Perfil</a>
        </li> -->
        <!-- <li class="nav-item">
          <a routerLink="/home" class="btn btn-outline-secondary">Home</a>
        </li> -->
        <!-- <li class="nav-item">
          <a routerLink="/error" class="btn btn-outline-secondary">not-found</a>
        </li> -->
        <!-- <li class="nav-item">
          <a routerLink="/about" class="btn btn-outline-secondary">About Me</a>
        </li> -->

        @if (auth.usuarioActual === null)
        {
        <li class="nav-item">
          <a routerLink="login" class="btn btn-outline-success"><strong> Login </strong></a>
        </li>
        <li class="nav-item">
          <a routerLink="registro" class="btn btn-outline-success"><strong> Registro </strong></a>
        </li>
        } @else {
        <li class="nav-item">
          <a routerLink="/usuarios" class="btn btn-outline-secondary">Usuarios</a>
        </li>

        <li class="nav-item">
          <a routerLink="/solicitar-turno" class="btn btn-outline-secondary">Solicitar Turno</a>
        </li>

        <li class="nav-item">
          <a routerLink="/mis-turnos" class="btn btn-outline-secondary">Mis Turnos</a>
        </li>

        <li class="nav-item">
          <a routerLink="/mi-perfil" class="btn btn-outline-primary ms-auto"><strong>MI PERFIL: {{auth.usuarioActual.email}}</strong></a>
        </li>

        <li class="nav-item">
          <a (click)="cerrarSesion()" class="btn btn-outline-danger">Cerrar Sesion</a>
        </li>
        }
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form> -->
    </div>
  </div>
</nav>


<!-- <div class="d-flex gap-1 mb-4">
  <a routerLink="/" class="btn btn-outline-secondary">Home</a>
  <a routerLink="about" class="btn btn-outline-secondary">About Me</a>
  <a routerLink="listado" class="btn btn-outline-secondary">Listado</a>

  @if (auth.usuarioActual === null)
  {
  <a routerLink="login" class="btn btn-outline-secondary">Login</a>
  <a routerLink="registro" class="btn btn-outline-secondary">Registro</a>
  } @else {
  <a (click)="cerrarSesion()" class="btn btn-danger">Cerrar Sesion</a>
  }

  @if (auth.usuarioActual === null)
  {
  } @else {
  <h5 class="ms-auto">Usuario: {{auth.usuarioActual.email}}</h5>
  }
</div> -->